<% provide(:title, 'Events')%>
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">List</a></li>
  <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#gmsp" data-toggle="tab">GMSP Sponsored Events + Updates</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="calendar"></div>
  <div class="tab-pane" id="gmsp"> <a href = "https://www.facebook.com/groups/GMSSoCalRegion/"> Join the SoCal Facebook group </a> </div>

</div>

<div class = "page header">
<h1>Events</h1>
</div>
   		<div class = "event-all">
		<%= render 'index'%>
		</div>

<br>


<%= link_to 'New Event', new_event_path, remote: true %>
<div id = "event-modal" class = "modal fade"> 
<div class = "modal-dialog">
<div id = "inner-event" class = "modal-content"></div>	
</div>	
</div>
