// Place all the styles related to the SimplePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* universal */

$lightGray: #999;
$gray: #555;
$grayDarker: #222;
$grayMediumLight: #eaeaea;

html {
	overflow-y: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

body {
	padding-top: 60px;

}
section {
	overflow: auto;
}

textarea{
	resize: vertical;

}

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
	
}

.back{
/* 	background-image:url("red.jpg");
	background-repeat: stretch;
	*/
}

/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Baskerville;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
 
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #666;
}

p {
  font-family: Baskerville, Serif;
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: justify;
  color: #666;
  
}


/*footer*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  
  a {
  	color: $gray;
  	&:hover {
		color: $grayDarker;
  	}
  }			
  small{
 	float: left;
    color: $grayDarker;
  }

  ul {
  	float: right;
  	list-style: none;
	li {
		float: left;
		margin-left: 10px;
	}
  }

}

.carousel-control{
	width: 5%;
}

.admin{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
	
	h2{
	 	color: #393c3d;
    	font-size: 24px;
	}
	
	p{
		font-size: 15px;
    	margin-bottom: 13px; 
	
	}
}

.panel {
     position: relative;
	 left:290px;
	 width: 50%;
	 border: 2px solid #ccc;
	 border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	 /* box-shadow: 0px 0px 3px 3px #D8FEF0; */

	
	.panel-default {
 
   	
	}
	.panel-heading{
	    color: #333333;
		background-color: white;
		border-color: #dddddd;
	
	}
	.panel-title {
	    
		text-align: center;
	}
   
	.panel-body {
		margin-bottom: 20px;
		

	}
	.panel-footer {
	   padding: 2px;
	   background-color: #F8F8F8;
	}
}

.thumbnail {
    position: relative;
	top: 10px;
	border: 2px solid #dddddd;
	
	p {
		font-size: 1.2em;
		text-align: left;
	}
}

