<script type="text/javascript">
    $(document).ready(function(){
        $('#crop-modal').modal('show');
    });
	$('#crop-modal').on('hidden.bs.modal', function(a) {
		window.location.reload();
		alert('Imaged was cropped!');
	});	
</script>

<div class = "modal fade" id = "crop-modal">
<div class="modal-content">
<%= form_for @member, html:{ class: "form-horizontal"}, remote: true do |f| %>
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Crop photo </h4>
      </div>
   
	<div class="modal-body">
   		<div class = "img-thumbnail">
			<%= f.cropbox :image %>
		</div>
	</div>
	 
	<div class="modal-footer">
        <%= f.submit %>	
    </div>
    
	</div>
   </div>
<% end %>

