<% provide(:title, 'Members')%>


	<h2 style = "text-align:center"> We are a diverse group of Anteaters that, under GMS, are supported by the following 	associations: </h2>
	<%= render 'associations' %>

	<h2 style = "text-align: center"> Our board and members </h2>

	<div class = "container-fluid">
		<div class = "row">
			<%= render 'index' %>
		</div>
	</div>

	<br>

	<%= link_to 'New Member', new_member_path, remote: true %>
		<div id = "member-modal" class = "modal fade"> 
			<div class = "modal-dialog">
				<div id = "inner-member" class = "modal-content">
				</div>	
			</div>	
		</div>

